@import "project.less";

.reset();

.wrapper{
    .wrapper();
}


.debugGrid{
    .debug(rgba(0, 0, 0, 0.2), 1px solid #f90)
}
h1{
    font-size: 94px;
}
h2{
    color:@color_black;
    font-size: 3.2rem;
}
h3{
    font-size: 26px;
}

body{
    background: url(../img/background.png)  top no-repeat;      
    font-family: "OpenSans-Light";
    color:@color_white;
}


.header{
    background-color: @color_header;
     .header_wrapper{
        .row-flex();
        .wrapper();
         justify-content: space-between; 
         .logo{
            .col();
         }
         
         .meniu{
            .col();
            .size(6);
             ul{
                 float: left;
                 li{
                     display: inline;
                 }
             }
             .button{
                 float: right;
             }
         }
    }
}

.block1{

    &_1{
        margin-top: 140px;
        padding-left: 10px;
        h3{  }

    }
    &_2{
        margin-top: 20px;
        h2{
            padding-left: 12px;
            color:@color_yellow;
            margin-top:-10px;
        }
    }
    &_3{
        max-width: 600px;
        margin-top: 60px;
    }
    &_4{
        margin-top: 40px;
        padding: 10px;
        button{
            min-width: 270px;
            margin-right: 20px;
            min-height: 70px;
            box-sizing: border-box;
            background: url(../img/block2_button_1.png) no-repeat ;
            color:@color_white;
            border: none;
        }
    }

    margin-bottom: 250px;    
}

.block2{
    color:@color_black;
    h2{
        color:@color_black;
        font-size: 3.2rem;
    }
    .h3{
        padding-left:15px;
    }
    .qvestBlocks{
        .row-flex();
        margin-top: 100px;
        justify-content: space-around;
        .qvestBlock{
            background-color: @color_white;
            .col();
            .size(3.5);   
        }
        img{
            margin:-60px 10px 0px 20px;
        }
        p{
            padding: 10px;
        }
        margin-bottom: 100px;
    }

}
.block3{
    color:@color_header;
    
    
    .ostavte{

        

        
        .size(6);
        ul{
            
            li{
                list-style-image: url("../img/block_2_alt.png") ;
            }
        }
    }
    .mi_predlagaem{
        
        .size(6);
        .col-float();
        float:right;
        
        ul{
            li{
                list-style-image: url("../img/block_2_alt.png") ;
            }
        }
    }
    .button{
        
        .size(5);
        button{
            border-radius: 3%;
            background-color: @color_yellow;
            width: 240px;
            height: 60px;
            font-size: 1rem;
        }
    }
    
    margin-bottom:100px;
}

.block4{
    color:@color_black;
    
}
